@import './responsive.scss';

.footer{
  width: 100%;
  padding: 2.7rem 1rem 2.7rem 1rem;
  background-color: rgb(var(--theme-color));

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  @include for-size(bigPhone){
    padding: 2.2rem 1rem 2.2rem 1rem;
    font-size: 1.2rem;
  }
}