@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
body {
  width: 100vw;
  background: rgb(var(--background));
  color: rgb(var(--color));
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: inherit;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root{
  --theme-color: 71,76,224;
  --theme-color-lighter: 107,112,255;
  --theme-color-darker: 33,36,148;
  --contrast-color-darker: 148,123,18;
  --contrast-color-lighter: 224,195,72;

  --background: 20,27,31;
  --color: 220,227,231;

  --black: 7,7,7;
  --white: 255,255,255;

  --header-height: 80px;
}
