@mixin main-session {
  width: clamp(500px, 75%, 1400px);
}

.wrapper{
  width: 100%;

  margin-top: calc(var(--header-height) + 2rem);

  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5.5rem;

  & > header{
    display: flex;
    flex-direction: column;
    align-items: center;

    .intro{
      display: flex;
      gap: 1rem;
  
      img{
        width: 15rem;
      }
  
      figcaption{
        display: flex;
        flex-direction: column;
        justify-content: center;
  
        font-size: 2.7rem;
        font-weight: 800;
  
        mark{
          background: transparent;
          color: rgb(var(--contrast-color-lighter));
          font-size: 3.5rem;
        }
      }
    }
  
    .roles{
      margin-top: 2.4rem;
      font-size: 1.5rem;
  
      span{
        padding: 0 0.8rem;
        border-right: solid 2px;
  
        &:last-child{
          border: none;
        }
      }
    }
  }  

  .testimonial{
    max-width: 48rem;    

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    
    input {
      appearance: none;
      width: 150px;
      height: 0.3rem;
      border-radius: 5px;  
      background: rgb(var(--theme-color-lighter));
      outline: none;

      &::-webkit-slider-thumb {
        appearance: none;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%; 
        border: solid 3px rgb(var(--background));
        background: rgb(var(--contrast-color-lighter));
        cursor: pointer;
      }

      &::-moz-range-thumb {
        appearance: none;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        background: rgb(var(--contrast-color-lighter));
        cursor: pointer;
      }
    }

    .comments{
      list-style-type: none;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        blockquote{
          width: auto;
          font-size: 3rem;
          text-align: center;
          position: relative;

          .openQuote{
            margin-left: -4rem;
            margin-right: 1rem;
            margin-top: -1rem;
            opacity: 0.3;
          }
          .closeQuote{
            margin-right: -4rem;
            margin-left: 1rem;
            margin-bottom: -1rem;
            opacity: 0.3;
          }
        }
  
        hr{
          border: 2px solid rgb(var(--color));
          opacity: 0.7;
          width: 80%;
        }

        cite {
          font-size: 1.7rem;
        }
      }     
    }
  }

  .sectionTitle{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;

    font-size: 1.5rem;

    .icon{
      color: rgb(var(--contrast-color-lighter));
      font-size: 3rem;
    }
  }

  .resume{
    @include main-session;
    // background-color: crimson;    

    p{
      width: 75%;

      // text-indent: 1.5rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1.2rem;
      line-height: 1.85rem;
      margin-top: 1rem;

      &:first-of-type{
        margin-top: 1.5rem;
      }

      &:nth-of-type(2n){
        margin-left: auto;
      }

      strong{
        color: rgb(var(--contrast-color-lighter));
      }

      b{
        color: rgb(var(--theme-color-lighter));
      }
    }    
  }

  .skills{
    @include main-session;

    display: flex;
    flex-direction: column;
    gap: 3.5rem;

    .wall{
      width: clamp(500px, 100%, 1250px);
      margin: 0 auto;

      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 0rem;

      // background: crimson;      
    }  
    h4{
      opacity: 0.5;
      font-size: 0.9rem;
    }  
  }

  .projects{
    @include main-session;
    // background-color: crimson;

    display: flex;
    flex-direction: column;
    gap: 3rem;    

    & > main{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 1.5rem;
    }
  }
}