@import './responsive.scss';

@mixin main-session {
  width: clamp(300px, 100%, 1500px);
  padding: 5rem 2.5rem 0rem 2.5rem;
}

.wrapper{
  width: 100%;

  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > section, & > header{
    padding-top: calc(var(--header-height) + 1rem);
  }

  & > header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;

    .intro{
      display: flex;
      gap: 1rem;
      margin-top: 1.5rem;
  
      img{
        width: clamp(9rem, 27vw, 15rem);
      }
  
      figcaption{
        display: flex;
        flex-direction: column;
        justify-content: center;
  
        font-size: clamp(1.7rem, 7vw, 2.7rem);
        font-weight: 800;
  
        mark{
          background: transparent;
          color: rgb(var(--contrast-color-lighter));
          font-size: clamp(2.1rem, 8vw, 3.5rem);
        }
      }
    }
  
    .roles{
      margin-top: 2.4rem;
      font-size: clamp(1.7rem, 2.5vw, 1.5rem);
      display: flex;
  
      span{
        padding: 0 0.8rem;
        border-right: solid 2px;
  
        &:last-child{
          border: none;
        }
      }
    }

    .testimonial{
      max-width: 48rem;    
  
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;

      margin-top: 2.5rem;
      
      input {
        appearance: none;
        width: 150px;
        height: 0.3rem;
        border-radius: 5px;  
        background: rgb(var(--theme-color-lighter));
        outline: none;
  
        &::-webkit-slider-thumb {
          appearance: none;
          width: 1.75rem;
          height: 1.75rem;
          border-radius: 50%; 
          border: solid 3px rgb(var(--background));
          background: rgb(var(--contrast-color-lighter));
          cursor: pointer;
        }
  
        &::-moz-range-thumb {
          appearance: none;
          width: 1.75rem;
          height: 1.75rem;
          border-radius: 50%;
          background: rgb(var(--contrast-color-lighter));
          cursor: pointer;
        }
      }
  
      .comments{
        list-style-type: none;
        margin: 0 3rem;
        // background: deepskyblue;
  
        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
  
          blockquote{
            min-width: 300px;
            width: auto;
            font-size: clamp(1.9rem, 6.5vw, 3rem);            
            text-align: center;
            position: relative;
  
            .openQuote{
              margin-left: clamp(-4rem, -7vw, -1rem);
              margin-right: 1rem;
              margin-top: -1rem;
              opacity: 0.3;
            }
            .closeQuote{
              margin-right: clamp(-4rem, -7vw, -1rem);
              margin-left: 1rem;
              margin-bottom: -1rem;
              opacity: 0.3;
            }
          }
    
          hr{
            border: 2px solid rgb(var(--color));
            opacity: 0.7;
            width: 80%;
          }
  
          cite {
            font-size: 1.7rem;
          }
        }     
      }
    }
  }    

  .sectionTitle{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;

    font-size: 1.5rem;

    .icon{
      color: rgb(var(--contrast-color-lighter));
      font-size: 3rem;
    }
  }

  .resume{
    @include main-session;
    // background-color: crimson; 
    
    display: flex;
    flex-direction: column;
    gap: 1.9rem;  

    main{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }

  .skills{
    @include main-session;

    display: flex;
    flex-direction: column;
    gap: 3.5rem;

    .wall{
      width: clamp(500px, 100%, 1250px);
      margin: 0 auto;

      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 0rem;  
    }  

    h4{
      opacity: 0.5;
      font-size: 0.9rem;

      @include for-size(smallDesktop){
        font-size: 1.1rem;
      }
    }  
  }

  .projects{
    @include main-session;
    // background-color: crimson;

    display: flex;
    flex-direction: column;
    gap: 3rem;    

    & > main{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 1.5rem;
    }
  }

  .contact{
    @include main-session;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
    gap: 3rem;      

    & > p{
      font-size: 1.1rem;
      width: clamp(500px, 65%, 1000px);
      margin: 0 auto;
      text-align: center;

      @include for-size(bigPhone){
        font-size: 1.3rem;
      }
    }    

    & > span{
      font-size: 0.85rem;
      opacity: 0.8;

      @include for-size(bigPhone){
        font-size: 1.1rem;
      }
    }
  }
}