.wrapper{
  width: 100%;

  margin-top: calc(var(--header-height) + 2rem);

  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5.5rem;

  & > header{
    display: flex;
    flex-direction: column;
    align-items: center;

    .intro{
      display: flex;
      gap: 1rem;
  
      img{
        width: 15rem;
      }
  
      figcaption{
        display: flex;
        flex-direction: column;
        justify-content: center;
  
        font-size: 2.7rem;
        font-weight: 800;
  
        mark{
          background: transparent;
          color: var(--contrast-color-lighter);
          font-size: 3.5rem;
        }
      }
    }
  
    .roles{
      margin-top: 2.4rem;
      font-size: 1.5rem;
  
      span{
        padding: 0 0.8rem;
        border-right: solid 2px;
  
        &:last-child{
          border: none;
        }
      }
    }
  }  

  .testimonial{
    max-width: 48rem;    

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    
    input {
      appearance: none;
      width: 150px;
      height: 0.3rem;
      border-radius: 5px;  
      background: var(--theme-color-lighter);
      outline: none;

      &::-webkit-slider-thumb {
        appearance: none;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%; 
        border: solid 3px var(--background);
        background: var(--contrast-color-lighter);
        cursor: pointer;
      }

      &::-moz-range-thumb {
        appearance: none;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        background: var(--contrast-color-lighter);
        cursor: pointer;
      }
    }

    .comments{
      list-style-type: none;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        blockquote{
          width: auto;
          font-size: 3rem;
          text-align: center;
          position: relative;

          .openQuote{
            margin-left: -4rem;
            margin-right: 1rem;
            margin-top: -1rem;
            opacity: 0.3;
          }
          .closeQuote{
            margin-right: -4rem;
            margin-left: 1rem;
            margin-bottom: -1rem;
            opacity: 0.3;
          }
        }
  
        hr{
          border: 2px solid var(--color);
          opacity: 0.7;
          width: 80%;
        }

        cite {
          font-size: 1.7rem;
        }
      }     
    }
  }

  .sectionTitle{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;

    font-size: 1.5rem;

    .icon{
      color: var(--contrast-color-lighter);
      font-size: 3rem;
    }
  }

  .resume{
    width: clamp(500px, 75%, 1250px);
    // background-color: crimson;    

    p{
      width: 75%;

      // text-indent: 1.5rem;
      font-size: 1.2rem;
      line-height: 1.85rem;
      margin-top: 1rem;

      &:first-of-type{
        margin-top: 1.5rem;
      }

      &:nth-of-type(2n){
        margin-left: auto;
      }

      strong{
        color: var(--contrast-color-lighter);
      }

      b{
        color: var(--theme-color-lighter);
      }
    }    
  }

  .skills{
    width: clamp(500px, 75%, 1250px);

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .wall{
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;

      // background: crimson;

      .postit{
        width: 15rem;
        height: 15rem;
  
        padding: 2rem 1rem;
        position: relative;
        color: var(--theme-color-lighter);
        background: #ffc;
  
        &::before{
          width: 35px;
          height: 35px;

          content: '';
          background: url('../assets/thumbtacks-back.png');
          background-size: 35px 35px;          

          position: absolute;
          top: -7px;
          left: 50%;
          transform: translateX(-50%);
        }

        ul{
          list-style-type: none;
          font-size: 1.3rem;

          li {
            font-family: 'Permanent Marker', Poppins, cursive;
          }
        }
      }
    }    
  }
}