.postit{
  width: 15rem;
  height: 15rem;

  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  color: rgb(var(--theme-color-lighter));
  box-shadow: 2px 3px 10px 0px rgba(0,0,0,1);
  background: #ffc;

  cursor: pointer;
  transform: rotate(var(--deg));
  transition: all 0.2s;

  &:hover{
    transform: rotate(0deg) scale(1.25);
    box-shadow: 4px 6px 10px 0px rgba(0,0,0,1);
    z-index: 5;
  }

  &.draw0::after{
    content: '';
    width: 80px;
    height: 68px;

    background: url('../assets/graffiti0.png');
    background-size: 80px 68px;
    opacity: 0.9;

    position: absolute;
    bottom: 1.1rem;
    right: 1rem;
  }

  &.draw1::after{
    content: '';
    width: 60px;
    height: 60px;

    background: url('../assets/graffiti1.png');
    background-size: 60px 60px;
    opacity: 0.9;

    position: absolute;
    bottom: 5rem;
    right: 0.5rem;
  }

  &.draw2::after{
    content: '';
    width: 100px;
    height: 100px;

    background: url('../assets/graffiti2.png');
    background-size: 100px 100px;
    opacity: 0.9;

    position: absolute;
    bottom: 0.1rem;
    right: 0.5rem;
  }

  &.draw3::after{
    content: '';
    width: 115px;
    height: 115px;

    background: url('../assets/graffiti3.png');
    background-size: 115px 115px;
    opacity: 0.9;

    position: absolute;
    top: 2.7rem;
    right: 0.1rem;
  }

  &::before{
    width: 35px;
    height: 35px;

    content: '';
    background: url('../assets/thumbtacks-back.png');
    background-size: 35px 35px;          

    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%) rotate(calc(var(--deg) * -1));
  }
  &:nth-child(3n)::before{
    filter: hue-rotate(225deg);
  }
  &:nth-child(5n)::before{
    filter: hue-rotate(135deg);
  }

  h2{
    font-family: 'Permanent Marker', Poppins, cursive;
    text-align: center;
    text-decoration: underline;
    width: 66%;
  }

  ul{
    width: 100%;

    list-style-type: none;
    font-size: 1.3rem;    

    li {
      font-family: 'Permanent Marker', Poppins, cursive;
    }
  }
}