.project{
  width: 550px;
  // height: 300px;
  aspect-ratio: 16/9;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: rgb(var(--theme-color-darker));
  background: white;
  overflow: hidden;

  &:hover::before{
    // background: rgba(var(--contrast-color-lighter), 0.9);
    transform: skew(55deg) translateX(-125%);
  } 

  &:hover::after{
    // background: rgba(var(--theme-color-lighter), 0.9);
    transform: skew(55deg) translateX(125%);
  }

  &::after, &::before{
    content: '';
    height: 100%;
    width: 100%;

    position: absolute;
    // background: linear-gradient(90deg, rgba(var(--theme-color-lighter), 0.9), rgba(var(--contrast-color-lighter), 0.9));
    transition: all 0.6s ease;
  }

  &::after{
    bottom: 0;
    right: 0;
    transform: skew(55deg) translateX(-125%);
    background: rgba(var(--theme-color-lighter), 0.75);
    z-index: 3;
  }

  &::before{
    top: 0;
    left: 0;
    transform: skew(55deg) translateX(125%);    
    background: rgba(var(--contrast-color-lighter), 0.75);
    z-index: 3;
  }

  &:hover main{
    opacity: 1;
    transition: all 0.3s ease;
    transition-delay: 0.2s;
  }

  figure {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
      object-fit: contain;
      margin: 0 auto;
    }
  }

  main{
    text-align: center;

    padding: 1.3rem;
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;

    background: white;
    opacity: 0;
    transition: all 0.4s ease;
  }

  a{
    width: 25%;
    height: 35px;
    
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    font-size: 1rem;
    background: rgb(15,15,15);
    color: rgb(var(--color));
    cursor: pointer;
    transition: filter 0.2s;

    &:hover{
      filter: brightness(110%);
    }
  }
}